<div class="mainContainer">    
            
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand navTop">
                <img src="images/logo1.png" class="navLogo d-inline-block align-top" alt="">
                <span class="navbarTitle">NCI Student Feedback System</span>
              </a>
              <form action="/login1" method="get"><button type="submit" class="signUpBtn btn btn-outline-success">SignIn</button></form>
            </nav>
        
            <section class='main'>
                <div id="mainText">
                    <img class="logo animated flash" src="images/logo1.png">
                    <div id="heading">
                        <h1 id="mainHeading">WELCOME TO NCI STUDENT FEEDBACK SYSTEM.</h1>
                        <h2 id="secondaryHeading">This Platform is developed for the students of National College of Ireland to give feedback about different facilities provided by the college.</h2>
                    </div>
                </div>                
            </section>
        
            <section class="messSection">
                <img class="messImage" src="images/mess.jpg">
                <div class="messContent">
                    <p class="head">Personalised Feedback System For Students</p>
                    <p class="subHead">To improve the facilities given upon feedbacks given by the students.</p>
                </div>
            </section>
            
            <section class="hostelSection">
                <div class="hostelContent">
                    <p class="head">National College of Ireland Focuses on</p>
                    <p class="subHead">Providing the best facilities to the students and to build best student life in Ireland.</p>
                </div>
                <img class="hostelImage" src="images/student.jpg">
            </section>
            
</div>
    